*{
    padding :0;
    margin:0;
    font-family:'Geneva',sans-serif;
}
.background{
    height:900px;
    background-image:url("play.jpg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-color: black;
}
.heading1{
    color:black;
    font-size: 25px;
    text-align: center;
    margin-top: 0em;
    margin-bottom: 0em;
    background-color:khaki;
}
#t1{
    height:140px;
    width: 140px;
    border : 4px white solid;
    margin:auto;
    text-align: center;
    font-size:80px;
    position: absolute;
    margin-left:33vw;
    /*left:520px;*/
    color:black;
}
#t2{
  height:20vh;
  width: 9vw;
  border : 4px white solid;
  margin:auto;
  text-align: center;
  font-size:80px;
  position: absolute;
  /*left:680px;*/
  margin-left:44vw;
  color:black;
}
#t3{
    height:20vh;
    width: 9vw;
    border : 4px white solid;
    margin:auto;
    text-align: center;
    font-size:80px;
    position: absolute;
    /*left:840px;*/
    margin-left:55vw;
    color:black;
}
#t4{
    height:20vh;
    width: 9vw;
    border : 4px white solid;
    margin:auto;
    text-align: center;
    font-size:80px;
    position: absolute;
    /*left: 520px;*/
    margin-left:33vw;
    color:black;
}
#t5{
  height:20vh;
  width: 9vw;
  border : 4px white solid;
  margin:auto;
  text-align: center;
  font-size:80px;
  position: absolute;
  /*left:680px;*/
  margin-left:44vw;
  color:black;
}
#t6{
    height:20vh;
    width: 9vw;
    border : 4px white solid;
    margin:auto;
    text-align: center;
    font-size:80px;
    position: absolute;
    /*left:840px;*/
    margin-left: 55vw;
    color:black;
}
#t7{
    height:20vh;
    width: 9vw;
    border : 4px white solid;
    margin:auto;
    text-align: center;
    font-size:80px;
    position: absolute;
    /*left:520px;*/
    margin-left:33vw;
    color:black;
}
#t8{
    height:20vh;
    width: 9vw;
    border : 4px white solid;
    margin:auto;
    text-align: center;
    font-size:80px;
    position: absolute;
    /*left:680px;*/
    margin-left:44vw;
    color:black;
}
#t9{
    height:20vh;
    width: 9vw;
    border : 4px white solid;
    margin:auto;
    text-align: center;
    font-size:80px;
    position: absolute;
    /*left:840px;*/
    margin-left:55vw;
    color:black;
}
#reset{
  background-color: #4CAF50;
  border: none;
  color:white;
  text-align: center;
  cursor:pointer;
  font-size: 16px;
  padding: 10px 32px;
  border-radius: 8px;
  margin-left:44vw;
}
#print{
  font-family: sans-serif;
  font-size: 35px;
  color: white;
  background-color: black;
  text-align: center;
}
